<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>yuv.png</string>
	<string>rgba.png</string>
	<string>iPhones.png</string>
	<string>iPad Screen.png</string>
</array>
</plist>
